<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Job Posting Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
 <div class="form_body">
  <h1>Job Posting Fake or Real</h1>

  <div id="output_text">{{ prediction_text }}</div>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">

        <div class = 'input_container'>
          <div>Company Profile</div> <textarea id="profile" name="profile" rows="4" cols="50" required></textarea><br>
        </div>

        <div class = 'input_container'>
          <div>Job Description </div><textarea id="description" name="description" rows="4" cols="50" required></textarea><br>
        </div>

        <div class = 'input_container'>
         <div>Requirements</div><textarea id="requirements" name="requirements" rows="4" cols="50" required></textarea><br>
        </div>

        <div class = 'input_container'>
          <div>Benefits</div><textarea id="benefits" name="benefits" rows="4" cols="50" required></textarea><br>  
        </div>
        
        <div class = 'input_container'>
          Has Company Logo? 
          <select id="company_logo" name="company_logo">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <br>
        </div>

        <div class = 'input_container'>
          Telecommuting allowed?
          <select id="telecommute" name="telecommute">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <br>
        </div>

        <div class = 'input_container'>
          Has Questions?
          <select id="question" name="question">
            <option value="1">Yes</option>
            <option value="0">No</option>
          </select>
          <br>
        </div>

        <div><button id="submit_btn" type="submit" class="btn btn-primary btn-block btn-large">Check</button></div>
    </form>


 </div>


</body>
</html>